/*  Style Section Navigator:-
    =======================
    1. Global Rules [including: variables, container]
    2. Header
    3. Habit Tracker
    4. Tasks Section
*/

/*  ============
    Global Rules
    ============  */
* {
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}
:root {
  /* Color Palette */
  --background-color: #f3fcffaa;
  --accent-color: #47b5ff;
  --dark-color: #273a9a;
  --light-color: #fff;
  /* Distance */
  --bar-height: 60px;
}
body {
  background-color: var(--background-color);
}
.container {
  margin: 20px auto 0;
  padding: 0 20px;
}
@media (min-width: 576px) {
  .container {
    width: 550px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 800px;
  }
}
select,
button {
  background-color: transparent;
  border: 3px solid var(--accent-color);
  color: var(--accent-color);
}
button:hover {
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--light-color);
}

/*  ======
    Header
    ======  */
header {
  display: flex;
  border-bottom: 3px solid var(--accent-color);
  padding: 0 10px;
  justify-content: space-between;
  align-items: stretch;
}
header select,
header .new-task {
  border-bottom: none;
  font-weight: bold;
}
header select {
  flex-grow: 1;
  font-size: 1.2em;
  margin-right: 10px;
}

/*  =============
    Habit Tracker
    =============  */
.habit-tracker {
  margin-top: 5px;
  border-top: 3px solid var(--accent-color);
  padding: 0 10px;
}
.habit-tracker span {
  display: inline-block;
  padding: 8px;
  border: 3px solid var(--accent-color);
  border-top: none;
  /* Test Style */
  color: var(--accent-color);
  font-weight: bold;
  user-select: none;
}
.habit-tracker span:hover,
.habit-tracker span.active {
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--light-color);
}

/*  =============
    Tasks Section
    =============  */
main {
  margin-top: 20px;
  border: 3px solid var(--accent-color);
  padding: 0 10px;
}
main .task {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 10px;
  align-items: center;
  border-bottom: 3px solid var(--dark-color);
  margin-bottom: 10px;
}
.task .task-title {
  margin-left: 10px;
  margin-right: 5px;
  color: var(--dark-color);
}
.task .btns button {
  margin-left: 5px;
  color: var(--dark-color);
  border-color: var(--dark-color);
}
.task .btns button:hover {
  background-color: var(--dark-color);
  color: var(--light-color);
}
main .task .details {
  grid-column: 1 / 4;
  color: var(--dark-color);
  /* display: none; */
}
